@page "/signinout"
@page "/signinout/{IsSignIn}"

@using System.ComponentModel.DataAnnotations
@using StayEasePro_WebApplication.Data.DTO_s
@using static StayEasePro_WebApplication.Data.Enums.CommonEnums

<div id="main-wrapper">
    <div class="position-relative overflow-hidden auth-bg min-vh-100 w-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100 my-5 my-xl-0">
                <div class="col-md-9 d-flex flex-column justify-content-center">
                    <div class="card mb-0 bg-body auth-login m-auto w-100">
                        <div class="row gx-0">
                            <!-- Part 1: Left Side -->
                            <div class="col-xl-6 border-end">
                                <div class="row justify-content-center py-4">
                                    <div class="col-lg-11">
                                        <div class="card-body">
                                            <a href="" class="text-nowrap logo-img d-block mb-4 w-100">
                                                Stay Ease Pro
                                            </a>
                                            @if (this.IsSignIn == SignInOutEnum.SignIn.ToString())
                                            {
                                                <h2 class="lh-base mb-4">Let's get you signed in!</h2>
                                            }
                                            else
                                            {
                                                <h2 class="lh-base mb-4">Create an account to get started!</h2>
                                            }

                                            <div class="row">
                                                <div class="col-6 mb-2 mb-sm-0">
                                                    <a class="btn btn-white shadow-sm text-dark link-primary border fw-semibold d-flex align-items-center justify-content-center rounded-1 py-6" href="javascript:void(0)" role="button">
                                                        <img src="/assets/facebook-icon.svg" alt="Facebook" class="img-fluid me-2" width="18" height="18">
                                                        <span class="d-none d-xxl-inline-flex"> Sign in with </span>&nbsp; Facebook
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a class="btn btn-white shadow-sm text-dark link-primary border fw-semibold d-flex align-items-center justify-content-center rounded-1 py-6" href="javascript:void(0)" role="button">
                                                        <img src="/assets/google-icon.svg" alt="Google" class="img-fluid me-2" width="18" height="18">
                                                        <span class="d-none d-xxl-inline-flex"> Sign in with </span>&nbsp; Google
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="position-relative text-center my-4">
                                                <p class="mb-0 fs-12 px-3 d-inline-block bg-body z-index-5 position-relative">Or sign in with email</p>
                                                <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                            </div>

                                            @if (this.IsSignIn == SignInOutEnum.SignIn.ToString())
                                            {
                                                <SignInComponent></SignInComponent>
                                            }
                                            else
                                            {
                                                <SignUpComponent></SignUpComponent>
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 d-none d-xl-block">
                                <div class="row justify-content-center align-items-start h-100">
                                    <div class="col-lg-9">
                                        <div id="auth-login" class="carousel slide auth-carousel mt-5 pt-4" data-bs-ride="carousel">

                                            <div class="carousel-inner">
                                                <!-- Carousel Item 1: 3D Charts -->
                                                <div class="carousel-item active">
                                                    <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">
                                                        <h4 class="mb-0">Feature Rich 3D Charts</h4>
                                                        <p class="fs-12 mb-0">Donec justo tortor, malesuada vitae faucibus ac, tristique sit amet massa. Aliquam dignissim nec felis quis imperdiet.</p>
                                                        <a href="javascript:void(0)" class="btn btn-primary rounded-1">Learn More</a>
                                                    </div>
                                                </div>

                                                <!-- Carousel Item 2: Hostel Management -->
                                                <div class="carousel-item">
                                                    <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">
                                                        <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">
                                                            <h4 class="mb-0">Feature Rich 3D Charts</h4>
                                                            <p class="fs-12 mb-0">Donec justo tortor, malesuada vitae faucibus ac, tristique sit amet massa. Aliquam dignissim nec felis quis imperdiet.</p>
                                                            <a href="javascript:void(0)" class="btn btn-primary rounded-1">Learn More</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Carousel Item 3: PG Management -->
                                                <div class="carousel-item">
                                                    <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">

                                                        <div class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center">
                                                            <h4 class="mb-0">Feature Rich 3D Charts</h4>
                                                            <p class="fs-12 mb-0">Donec justo tortor, malesuada vitae faucibus ac, tristique sit amet massa. Aliquam dignissim nec felis quis imperdiet.</p>
                                                            <a href="javascript:void(0)" class="btn btn-primary rounded-1">Learn More</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Carousel Indicators -->
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#auth-login" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#auth-login" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#auth-login" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string IsSignIn { get; set; } = SignInOutEnum.SignUp.ToString();

    private async Task NavigateToSignUp()
    {
       
    }

}
